.item-card-wrapper{
    width: 100vw;
    
}


@media screen and (min-width: 700px) {
    .item-card-wrapper{
        display: flex;
        width: 900px;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto 0;
    }
}