.card-info{
    width: 90%;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.name{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.address-distance{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.business-rating{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.business-status, .rating{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
}


@media screen and (min-width: 700px) {
    .card-info{
        width: 320px;
        margin: 7px;
        height: 200px;
        border-radius: 7px;
    }
}